%h1= t('venues.new_venue')
- form_for [:admin, model], :url => admin_venues_url do |f|
  =render 'fields', :object => f
= render :partial => '/admin/seating_types/popups'
- include_javascript 'admin/seating_type'
